<% provide(:title, 'Рейтинг МФО') %>
<h1>StaticPage#rank</h1>
<p>Find me in app/views/static_page/rank.html.erb</p>
kjhhjvhvkhvkf
g gug
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore ab iure recusandae sed vel tempora, quibusdam, quidem perspiciatis voluptates ut id! Quod eum tempore ipsum fugit modi ullam, vel at.</div>
<div>Aliquam recusandae architecto quo neque, laborum praesentium optio eligendi! Eaque quos, soluta repellendus incidunt dolores a repellat tenetur. Aliquam ipsam, expedita facilis odio quis dolores temporibus maxime deserunt facere est.</div>
<div>Perspiciatis dolore dicta distinctio, odit doloremque sunt optio facere maiores id esse in, ut, repudiandae voluptatem aut! Ullam nihil quis explicabo, quasi iste optio fugit autem sunt rerum! Animi, velit.</div>
<div>Cumque minus debitis harum sapiente facilis, nesciunt porro facere voluptatem aliquid nobis, molestiae sequi sunt at. Recusandae at minima beatae libero, adipisci nobis velit temporibus, minus ut iusto error odit.</div>
<div>Maiores, rem quae velit. Fugit tenetur, ullam alias quam numquam earum dolorum accusantium fugiat magnam nobis vel quisquam magni ea id quasi pariatur! Magnam neque architecto laborum esse voluptas, eveniet!</div>
<div>Laborum aliquam, delectus dicta commodi laudantium natus. Suscipit voluptatem expedita eius quia aperiam iure aliquid facilis commodi dolorum perspiciatis soluta, quisquam deleniti, aliquam ullam odit, incidunt esse quis quae odio.</div>
<div>Aspernatur eius, totam. Commodi qui beatae doloremque nam quae explicabo eos possimus, repellat veniam. Commodi obcaecati quas a. Repellendus, nesciunt. Aperiam, nemo rerum exercitationem tenetur obcaecati maxime et in. Quas.</div>
<div>Quidem voluptatem quaerat vero, iste obcaecati perferendis est sunt, praesentium nihil autem nulla distinctio? Ipsam sed placeat vitae velit in nobis possimus eligendi non omnis quasi obcaecati, repellat, optio, pariatur.</div>
<div>Quas rem natus rerum mollitia voluptatibus placeat blanditiis nisi dolore inventore quo dolorem laudantium porro sit quasi accusamus a dignissimos explicabo saepe, cumque eum est, facere vel. Molestiae, exercitationem, error.</div>
<div>Deleniti ipsam enim ullam a itaque officia, nesciunt nihil earum fugiat et dolor cumque ratione cum fugit, aut maiores eos nulla. Quaerat quia similique neque, dolor repudiandae dicta excepturi ipsa.</div>