  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <%= link_to "Зарегистрироваться", signup_path %>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <%= link_to "Войти", signin_path%>
        </div>

      </div>
    </div>
  </footer>