  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          Первая колонка
        </div>
        <div class="col-md-3">
          вторая колонка
        </div>
        <div class="col-md-3">
          третья колонка
        </div>
        <div class="col-md-3">
          четвертая колонка
        </div>

      </div>
    </div>
  </footer>