        <aside>
          <div class="widget payment-system">
            <div class="title-widget">
              <h2>СПОСОБЫ ПОЛУЧЕНИЯ</h2>
            </div>
            <div class="content-widget">
              <ul>
                <li><a href="#">Банковская карта</a></li>
                <li><a href="#">Банковская карта</a></li>
                <li><a href="#">Банковская карта</a></li>
                <li><a href="#">Банковская карта</a></li>
                <li><a href="#">Банковская карта</a></li>
                <li><a href="#">Банковская карта</a></li>
              </ul>
            </div>
          </div>

          <div class="widget">
            <div class="title-widget">
              <h2>ОСОБЫЕ СЛУЧАИ</h2>
            </div>
            <div class="content-widget">
              <ul>
                <li><a href="#">Банковская карта</a></li>
                <li><a href="#">Банковская карта</a></li>
                <li><a href="#">Банковская карта</a></li>
                <li><a href="#">Банковская карта</a></li>
                <li><a href="#">Банковская карта</a></li>
                <li><a href="#">Банковская карта</a></li>
              </ul>
            </div>
          </div>
        </aside>